@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center mt-4">
    <h2>Clientes</h2>
    <a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">View Clientes</a>


    <h2 class="mt-4">Ocorrências</h2>
    <a asp-controller="Ocorrencias" asp-action="Index" class="btn btn-primary">View Ocorrências</a>
</div>
